.editor-wrapper {
  flex: 1;               /* 撐滿右半 */
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100%;
}

.editor-wrapper > div{
  flex: 1 1 auto !important;
  display: flex !important;
  flex-direction: column !important;
  min-height: 0 !important;
}
